@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Founders';
    src: url('/fonts/test-founders-grotesk-text-bold.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Founders';
    src: url('/fonts/test-founders-grotesk-text-light.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Founders';
    src: url('/fonts/test-founders-grotesk-text-regular.woff2');
    font-weight: normal;
    font-style: normal;
}

.foundersFont {
    font-family: 'Founders' , sans-serif;
}